@import '../../base.scss';

.videoHorizontal {
   // border-bottom: 0.3px solid $border-color;
    font-family: Poppins ,sans-serif;
   cursor: pointer;

   &__left {
      position: relative;
      text-align: center;
   }

   &__thumbnail {
      width: 100%;
     border-radius: 10px;
      &-wrapper {
         width: 100%;
      }
   }

   &__duration {
      position: absolute;

      bottom: 0.6rem;
      right: 1.2rem;

      font-size: 0.9rem;
      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
      color: #E6E6E6;
      font-size: 12px;
   }

   &__details {
      font-size: 12px;
   }

   &__title {
      font-size: 1rem;
      color: #E6E6E6;
      letter-spacing: 0.3px;

      @include line-clamp(2);
   }

   &__channel {
      img {
         width: 36px;
         height: 36px;

         border-radius: 50%;
         margin-right: 0.5rem;
         cursor: pointer;
      }
      p {
         font-size: 12px;
         @include line-clamp(1);
      }
   }
}
.channel_title{
   color: #E6E6E6;
   font-size: 12px;
}
@media (max-width: $breakpoint-small) {
   .videoHorizontal {
      font-size: 0.8rem;

      &__details {
         @include line-clamp(1);
      }
      &__channel {
         margin: 0.1rem 0;

         img {
            display: none;
         }
         p {
            font-size: 0.9rem;
         }
      }

    

      &__title {
         font-size: 1rem;
         @include line-clamp(2);
      }
   }
}

