@import '../../_base.scss';
.videoMetaData {
   font-size: 14px;
   font-family: Poppins , sans-serif;
   &__top {
      span {
         cursor: pointer;
         font-size: 14px;
      }
   }

   &__channel {
      border-top: 0.2px solid $border-color;
      border-bottom: 0.2px solid $border-color;
      img {
         width: 40px;
         height: 40px;
         margin-right: 10px;
      }

      button {
         background-color: #D9D9D9;
         color: #000;
         border-radius: 0;
         text-transform: uppercase;
         letter-spacing: 0.5px;
         border-radius: 20px;
         font-size: 14px;
         font-family: Poppins , sans-serif;
         &.btn-gray {
            background-color: #d9d9d99f;
         }
         &:hover {
            background-color: #d9d9d9da;
            color: #000;
         }
         &:focus {
            border: none;
            outline: none;
         }
      }
   }
   &__description {
      font-size: 0.9rem;
      white-space: pre-line;
      border-bottom: 0.2px solid $border-color;
      .showMoreText {
         text-decoration: none;
         display: block; 
         cursor: pointer;
         margin: 1rem 0;
         color: #fff;
         font-weight: 500;
         border-radius: 10px;
         display: inline-block;
         padding: 5px;
         transition: all .10s;
      }
   }.showMoreText:hover{
      background-color: $border-color;
   }
}


.like__button{
 background-color: #222222;
 padding: 5px 10px;
 border-radius: 25px;
}

.like__button:hover{
   background-color: #3f3f3f;
}
.like__button-up:hover{
  color: #D9D9D9;
}
.description{
   background-color: #222222;
   border-radius: 20px;
   padding: 20px;
   font-size: 14px;
}

.subscriber__count{
   font-size: 10px;
   font-weight: 500;
   color: rgba(128, 128, 128, 0.846);
}
.channel__name{
   margin-right: 10px;
}