@import '../../base.scss';

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 1rem 3rem;

   background-color: #0F0F0F;

   height: 10vh;
   width: 100%;

   position: fixed;
   top: 0;

   z-index: 999;
   &__menu {
      display: none;
   }
   &__logo {
      width: 100px;
      height: 100px;
      object-fit: contain;
      display: block;
   }

   form {
      flex: 0.6;
      display: flex;
      padding: 0.1rem;
      margin: 0 1rem;
      border-radius: 50px;
     background-color: #0F0F0F;

      input {
         width: 100%;
         border: 2px solid #212121;
         font-weight: 500;
         border-top-left-radius: 20px;
         border-bottom-left-radius: 20px;
         background: transparent;
         padding: 0.5rem;
         padding-left: 1rem;
         color: $text-color;

         &:focus {
            outline:red;
         }
      }

      button {
         padding: 0 1.20rem;
         color: $text-color;
         background: transparent;
         border-top-right-radius: 20px;
         border-bottom-right-radius: 20px;
         border: none;
         background-color: #222222;
         &:focus {
            border: none;
         }
      }
   }

   &__icons {
      flex: 0.15;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #E0E0E0;
      cursor: pointer;
      img {
         border-radius: 50%;
         width: 30px;
         object-fit: contain;
         margin-left: 5px;
      }
   }
}

@media (max-width: $breakpoint-small) {
   .header {
      padding: 1rem;

      form {
         flex: 1;
      }

      &__menu {
         display: block;
      }
      &__logo {
         display: none;
      }

      &__icons > *:not(img) {
         display: none;
      }
   }
}
