@import "../../base.scss";

.video {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;

  &__top {
    margin-bottom: 0.5rem;
    position: relative;
    .lazy-load-image-background {
      width: 100%;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
    &__duration {
      position: absolute;

      bottom: 0.3rem;
      right: 0.3rem;
      font-size: 12px;
      padding: 0.2rem;
      background: #080808bd;
      border-radius: 3px;
    }
  }

  &__title {
    margin-bottom: 0.1rem;
    font-size: 14px;
    @include line-clamp(1);
  }

  &__details {
    display: flex;
    align-items: center;
    color: $text-color-2;
    font-size: 12px;
  }
  &__channel {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    font-weight: 500;
    img {
      width: 36px;
      height: 36px;

      border-radius: 50%;
      margin-right: 0.5rem;
      cursor: pointer;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.publish__time {
  margin-left: 20px;
}
.dot__views {
  margin-left: 2px;
  font-size: 15px;
}
