.comments__form {
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: contain;
    margin-left: 10px;
    font-family: Poppins, sans-serif;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #353946;
    color: #fff;
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: #3fa5fd;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    border-radius: 20px;
    &:focus {
      border: none;
      outline: none;
    }
    &:hover {
      background-color: #4aaafd;
    }
  }
}
.comments {
  font-family: Poppins, sans-serif;
}
.comments__count {
  font: 12px;
  margin-left: 10px;
}
.comments__list {
  font-size: 14px;
}
