@import "../../../base";

.login {
  background-image: url(../../assets//scattered-forcefields.png);
  height: 100vh;
  display: grid;

  background-color: $black-secondary;
  place-items: center;

  &__container {
    background-color: #222222;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    display: flex;
    font-family: Poppins, sans-serif;
    flex-direction: column;
    align-items: center;

    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      margin-bottom: 1rem;
      &:focus {
        outline: none;
      }
    }
  }

  img {
    width: 130px;
    height: 130px;
    object-fit: contain;
  }
}

.log__button {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #3f3f3f;
  padding: 5px;
  font-family: Poppins, sans-serif;
}
.text {
  color: #fff;
}
